---
import TestimonialCarousel from "@/components/client/testimonials/TestimonialCarousel";
import PictureResponsive from "@/components/shared/PictureResponsive.astro";
import { BreakPoints } from "@/types/BreakPoints";
import type { TestimonialData } from "@/types/TestimonialData";
import ArrowBoxed from "@/components/icons/ArrowBoxed.astro";

const data: TestimonialData[] = [
  {
    image: "/images/testimonials/1.webp",
    name: "Samira Hadid",
  },
  {
    image: "/images/testimonials/2.webp",
    name: "Marceline Anderson",
  },
  {
    image: "/images/testimonials/3.webp",
    name: "Hannah Morales",
  },
];
---

<PictureResponsive
  sources={["/backgrounds/red-bg-vertical.webp", "/backgrounds/red-bg.webp"]}
  breakpoints={[BreakPoints.XL]}
  classPicture="absolute top-0 left-0 -z-200 min-w-full min-h-[100dvh] h-full w-full"
  classImage="min-w-full min-h-[100dvh] object-cover h-full w-full"
/>

<div
  class="h-full flex flex-col items-center justify-start pt-5
      w-[90%] xl:w-[70%] 2xl:w-[60%] 3xl:pt-10"
>
  <div class="self-start flex items-center justify-start text-white gap-x-10">
    <ArrowBoxed className="size-10 2xl:size-13 xl:size-15 3xl:size-20" />
    <h2 class="font-extrabold text-base 2xl:text-lg sm:text-3xl 3xl:text-4xl">
      Testimonios
    </h2>
  </div>
  <h1
    class="text-white font-bold self-start uppercase mt-10
        text-xl md:text-2xl
        2xl:text-4xl 3xl:text-5xl 3xl:mt-15"
  >
    ● Mujeres fuertes & poderosas
  </h1>
  <TestimonialCarousel client:load data={data} />
</div>
