---
import Layout from "@/layouts/Layout.astro";
import ContactSection from "@/components/sections/contact/Contact.astro";
import Navbar from "@/components/shared/navbar/Navbar.astro";
---

<Layout>
  <Navbar className="bg-white" />
  <main
    class="w-full h-[calc(100dvh-var(--h-navbar-mobile))] xl:h-[calc(100dvh-var(--h-navbar))]"
  >
    <section
      class="relative h-full overflow-hidden flex flex-col items-center justify-center
      px-2 xs:px-10 md:px-20"
    >
      <ContactSection />
    </section>
  </main>
</Layout>
