---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/shared/navbar/Navbar.astro";
import FeelTheRhythmSection from "@/components/sections/becoming-more-myself/feel-the-rhythm/FeelTheRhythm.astro";
---

<Layout class="relative">
  <Navbar
    className="z-200 bg-transparent fixed justify-end shadow-none sm:shadow-md sm:z-10 lg:bg-white sm:static sm:justify-between"
    logoClassName="hidden sm:block"
    useDarkMode={true}
  />
  <main
    class="w-full h-[100dvh] sm:h-[calc(100dvh-var(--h-navbar))] overflow-hidden"
  >
    <section class="h-full w-full flex justify-center items-center">
      <FeelTheRhythmSection />
    </section>
  </main>
</Layout>
