---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/shared/navbar/Navbar.astro";
import JoinTheChallengeSection from "@/components/sections/becoming-more-myself/join-the-challenge/JoinTheChallenge.astro";
---

<Layout class="relative">
  <Navbar className="bg-white" />
  <main
    class="w-full h-[calc(100vh-var(--h-navbar-mobile))] xl:h-[calc(100vh-var(--h-navbar))] overflow-hidden"
  >
    <section
      class="h-full w-full flex justify-center items-center px-4 md:pt-10 md:px-0"
    >
      <JoinTheChallengeSection />
    </section>
  </main>
</Layout>
