---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/shared/navbar/Navbar.astro";
---

<Layout class="relative">
  <Navbar className="bg-white" />
  <main class="w-full lg:h-[calc(100vh-var(--h-navbar))] xl:min-h-auto">
    <section></section>
  </main>
</Layout>
