---
import CarouselShortsVideo from "@/components/client/feel-the-rhythm/CarouselShortsVideo";
import PictureResponsive from "@/components/shared/PictureResponsive.astro";
import { BreakPoints } from "@/types/BreakPoints";
import type { ShortVideoData } from "@/types/ShortVideoData";

const data: ShortVideoData[] = [
  {
    src: "/videos/feel-the-rhythm/girl1.webm",
    username: "sofi.dance",
    description:
      "Bailando con actitud 💃🔥 #Empoderamiento #DanceLife #LatinaPower",
    srcProfile: "/images/feel-the-rhythm/profile1.webp",
    likes: 18200,
    comments: 254,
    shares: 1300,
  },
  {
    src: "/videos/feel-the-rhythm/girl2.webm",
    username: "camila.vibes",
    description:
      "Este ritmo me representa 🎶💪 #GirlPower #MovimientoFemenino #DanceChallenge",
    srcProfile: "/images/feel-the-rhythm/profile2.webp",
    likes: 9850,
    comments: 179,
    shares: 740,
  },
  {
    src: "/videos/feel-the-rhythm/girl3.webm",
    username: "luzonfire",
    description:
      "No es solo un paso, es una declaración 🔥👠 #SoyFuego #DanceWithPower #Actitud",
    srcProfile: "/images/feel-the-rhythm/profile3.webp",
    likes: 24750,
    comments: 392,
    shares: 2150,
  },
];
---

<PictureResponsive
  sources={["/backgrounds/red-bg-vertical.webp", "/backgrounds/red-bg.webp"]}
  breakpoints={[BreakPoints.XL]}
  classPicture="hidden lg:block absolute top-0 left-0 -z-200 min-w-full min-h-[100dvh] h-full w-full"
  classImage="min-w-full min-h-[100dvh] object-cover h-full w-full"
/>
<div class="lg:hidden absolute top-0 left-0 -z-200 h-full w-full bg-black">
</div>

<div class="relative h-full w-full flex items-center justify-center">
  <CarouselShortsVideo data={data} client:load />
</div>
