---
import SpeakerButton from "@/components/client/SpeakerButton";
import arrowIcon from "@/assets/images/shared/arrow-simple.webp";
import tacosPhoto from "@/assets/images/home/tacos.webp";
import ImageResponsive from "@/components/shared/ImageResponsive.astro";
import { BreakPoints } from "@/types/BreakPoints";
---

<video
  autoplay
  muted
  loop
  playsinline
  class="absolute top-0 left-0 object-cover object-[60%_center] xl:object-center -z-200 w-full min-w-full min-h-full"
>
  <source src="/videos/background.webm" type="video/webm" />
  Tu navegador no soporta video.
</video>
<div
  class="relative
      flex flex-col justify-start items-center
      h-full text-white bg-black/20
      xl:flex-row"
>
  <div
    class="relative animate__bounceInDown flex flex-col items-center mt-[20vh]
      xl:ps-[18vh] xl:w-[60%] xl:items-start xl:mt-0
       2xl:ps-[20vh] 3xl:-translate-y-5"
  >
    <h1
      class="font-title mb-4 text-wrap break-words
    max-w-4xl w-full px-5 text-center text-3xl sm:text-4xl
    lg:text-5xl xl:text-start xl:w-auto xl:px-0
    3xl:text-7xl"
    >
      CON CADA PASO
      <span class="font-extrabold">SOY MÁS YO</span>
    </h1>
    <a
      href="/becoming-more-myself/join-the-challenge"
      class="flex justify-center items-center rounded bg-mika-primary cursor-pointer
      px-5 h-12 mt-10 hover:opacity-90 transition w-fit
      lg:h-12 lg:px-10 xl:h-14 xl:px-15 xl:mt-5 2xl:h-17 2xl:px-20"
    >
      <p class="text-base font-extrabold text-white xl:text-xl 2xl:text-2xl">
        ÚNETE AL RETO
      </p>
    </a>
    <span class="relative mt-5 px-5
    lg:mt-10 xl:px-0 xl:mt-15">
      <p
        class="text-lg max-w-xl text-center font-medium
      xl:text-2xl xl:text-justify"
      >
        Mika Beauty Salón busca empoderar a las mujeres a través del baile. La
        mujer es fuerza, sabiduría y valentía. Su poder transforma vidas y
        cambia el mundo.
      </p>

      <ImageResponsive
        src={arrowIcon}
        alt="Flecha"
        widths={[40, 60]}
        breakpoints={[BreakPoints.XL]}
        class="absolute top-1/2 -translate-y-1/2 lg:-left-10 xl:-left-25 animate-pulse-scale hidden lg:block"
      />
    </span>
  </div>
  <a
    href="/becoming-more-myself/feel-the-rhythm"
    class="animate-pulse-scale flex relative mt-5 md-height:mt-[50px] size-40 cursor-pointer
    xl:absolute xl:right-20 xl:top-60 xl:flex-col xl:items-end xl:mt-0 xl:size-auto
    2xl:right-40"
  >
    <div
      class="size-25 rounded-full bg-mika-primary text-center
    flex items-center justify-center text-white font-extrabold px-5 text-xs
    absolute top-1/2 -translate-y-1/2 -rotate-25 z-20 sm:-left-4
    xl:static xl:rotate-0 xl:top-auto xl:left-auto xl:translate-0 xl:size-30 xl:text-sm"
    >
      SIENTE EL RITMO
    </div>
    <ImageResponsive
      src={tacosPhoto}
      widths={[110, 130, 200, 300]}
      alt="Tacos"
      breakpoints={[BreakPoints.SM, BreakPoints.XL, BreakPoints["3XL"]]}
      class="z-25 absolute -right-4 top-7 rotate-5 xl:static xl:me-15 xl:rotate-0 xl:top-auto xl:right-auto"
    />
  </a>

  <SpeakerButton client:load />
</div>
